body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 220, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.chat-container {
    width: 400px;
    box-shadow: black;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;

}

.chat-box {
    height: 300px;
    overflow-y: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

.mensaje{
    margin: 10px;
    
}