body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 220, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.chat-container {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;

}

.chat-box {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

.mensaje {
    margin: 10px 0;
}

.mensaje.user {
    text-align: right;
}

.mensaje.bot {
    text-align: left;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

button{
    width: 20%;
    padding: 10px;
    border: none;
    background-color: rgb(131, 182, 196);
    color: #ffff;
    cursor: pointer;
    border-top: 1px solid #ddd;

}

button:hover{
    background-color: rgb(82, 124, 142);
}