@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;


}
.main{
    width: 100%;
    background: #ffffff;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #5f93ab;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #73a2bd;
    font-family: "Outfit", sans-serif;;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #467780;
}

.content{
    width: 1200px;
    height:auto;
    margin:auto;
    color:rgb(67, 107, 122);
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 30px;
}

.content h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.form{
    width: 250px;
    height: 450px;
    background: #b0d7da;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 210 px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color:#92b3c2;
    font-size: 22px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
    color:#ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: "Josefin Sans", sans-serif;
}

.form input{
    outline: none;
}

::placeholder{
    color:#ffffff;
    font-family: "Josefin Sans", sans-serif;
}

.btn{
    width: 210px;
    height: 40px;
    background-color: #588493;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.4 ease;
}

.btn:hover{
    background: #98d0e6;
    color: #4b8286;

}

.form .link{
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ffffff;

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}