<link rel="stylesheet" href="~/css/sprincipal.css" />

<h1>Acerca De</h1>
<p>El objetivo de nuestro proyecto es ver por la salud mental de todas aquellas personas que lo necesiten.<br /><br />Queremos hacerte sentir escuchado y atendido. Tu bienestar emocional es nuestra misión.</p>
<br>
<p>Nuestro equipo está conformado por María José Hernández Martínez y Ana Beatriz Hernández Pavón. Somos de 3-D, nuestro equipo se llama Two Stars<br /><br />Como estudiantes, nos hemos dado cuenta que la salud es de suma importancia para una buena calidad de vida. Es así como surgió HeartHelp, como una solución práctica que se adapte a lo que el usuario necesita, usando las nuevas tecnologías que aprendimos en nuestra especialidad.</p>