<head>
<link rel="stylesheet" href="~/css/style.css" />
</head>
<h4>¿Cómo estuvo mi día hoy?</h4>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
</div>

<h4>Hoy me sentí...</h4>
<select class="form-select" aria-label="Default select example">
    <option selected>Emociones</option>
    <option value="1">Triste</option>
    <option value="2">Feliz</option>
    <option value="3">Enojado/a</option>
    <option value="4">Nostalgico/a</option>
    <option value="5">Enamorado/a</option>
    <option value="6">Decepcionado</option>
     <option value="3">Esperanzado</option>
</select>
<button class="btn" type="submit">Listo</button>