@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <link rel="stylesheet" href="/css/chatbot.css"/>
    <title>Chatbot</title>
</head>

<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box">
        <input type="text" id="user-input" placeholder="Escribe tu mensaje ... ">
        <button id="send-btn">Enviar</button>
        </div>
    </div>
    <script src="~/Inicio/Chatbot"></script>
</body>

</html>