<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a HeartHelp</title>


    <link rel="stylesheet" href="~/css/sprincipal.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        xintegrity="sha512-SnH5WK+bZxgPHs44uWIX+LLMD/CDQ+iYOpRz/NlGzT/8eA4j60E6G5t7U8T/09/rUfL52Kq2K8U8C8O3T11A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <h1>Crisis</h1>
</head>

<body>
    <a href="~/Inicio/Principal/" class="link-principal">
        <div class="arrow-icon">
            <i class="fa-solid fa-circle-arrow-left"></i>
        </div>
    </a>


</body>

</html>