<h1>Bienvenido a HeartHelp</h1>
<link rel="stylesheet" href="~/css/sprincipal.css" />
<p>¿Cómo te gustaría comenzar?</p>

<a asp-controller="Inicio" asp-action="ChatBot">
<button class="btn">
    <img src="~/img/Diseño sin título (1).png" alt="icononav" class="icononav">
</button>
</a>

<a asp-controller="Inicio" asp-action="Calendario">
<button class="btn">
    <img src="~/img/iconcal.png" alt="iconcal" class="iconcal">
</button>
</a>